[submodule "cs-classic-papers"]
	path = cs-classic-papers
	url = https://github.com/AnHaechan/cs-classic-papers
[submodule "ai-compilers-study-material"]
	path = ai-compilers-study-material
	url = https://github.com/AnHaechan/ai-compilers-study-material
[submodule "async-rust-pratice"]
	path = async-rust-pratice
	url = https://github.com/AnHaechan/async-rust-pratice
